.page-container{
    display: flex;
    /* margin-left: 50px; */
}

  .research-mainarea a {
    
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    padding-right:10px;
    padding-left: 0%;
    padding-bottom: 0%;
}
