.home-container {
  /* background-color: black; */
  color: white;
  text-align: center;
  text-align: justify;

  /* font-family:sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal; */
}

h6 {
  color: aqua;
  overflow: hidden;
  width: fit-content;
   
  border-right: 0.15em solid rgb(0, 5, 5); 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: 0em; 
  animation: typing 3.5s steps(40, end) 5s;
  /* animation-fill-mode: both; */
  
  animation-iteration-count: infinite;
  
  
  
}
/* pre{
  font-size: 12;
  color: aqua;
} */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
  
}
.home-container .home-main .links {
  padding-bottom: 50px;
}
.home-container .home-main .links a {
  display: flex;
  padding-top: 20px;
  text-decoration: none;
}
