

.App {
  
  color: white;
  text-align: center;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  /* font-family:sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal; */
  
  
}
pre {
  text-align: center;
  color: aqua;
}
.App footer {
 
  text-align: center;
  overflow: hidden;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
